@import url("https://fonts.googleapis.com/css?family=Oswald:500");
.back {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(Images\background.jpg);
    
  background-size: cover;
}
.thx {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
}
nav {
  width: 100%;
  position: sticky;
  top: 100px;
  text-align: center;
}
nav a {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #16151b;
  margin: 0 15px;
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
  top: 25px;
}
nav a:before {
  content: "";
  position: sticky;
  width: 100%;
  height: 3px;
  background: #16151b;
  top: 47%;
  animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before {
  animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}
@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@for $i from 1 through 5 {
  nav a:nth-child(#{$i}) {
    animation: show 0.2s #{$i * 0.1+1}s ease 1 both;
  }
}

.h1 {
  font-family: "Raleway", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;

}

h1 {
  font-family: "Raleway", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

h2 {
  font-family: "Raleway", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

.about {
  position: absolute;
  font-size: larger;
  text-align: center;
  top: 55%;
}

.about2 {
  position: absolute;
  font-size: medium;
  text-align: center;
  top: 60%;
}

.welcome{
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: -1;

}
.welcome::before{
  content: "";
  height: 100vh; /* 37vh */
  width: 100%;
  position: absolute;
  top: -10%;
  left: 0;
  z-index: -2;
  background-image: url(../Images/background.jpg);
  background-size: cover;
  opacity: 50%;
}


#welcome-section{
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 200%;
}

/* Defines apperance of body */
body {
  margin: 0;
  font-family: "Raleway", sans-serif;

  
}

/* Defines apperance of h1 */
h1 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-weight: 700;
}

/* Defines apperance of h2 */

/* Adds a gery background color to the top navigation */


.active,
.demo:hover {
  opacity: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #ffffff;
  padding: 100px;
  top: 30%;
}
.grid-item {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

#page-container {
  position: relative;
  min-height: 100vh;
}


#content-wrap {
  padding-bottom: 2.5rem;    
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  text-align: center;
  font-family: "Oswald";
}

#top{
  font-size: x-large;
}


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}